@import "variables.css";

.custom-hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/public/assets/ordinateur.jpg") ;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}

.bg-custom-secundary-transparent {
    background-color: var(--secundary-transparent);
}