@import "variables.css";

.custom-hero-container {
    background-image: url("/public/assets/ordinateur.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-custom-secundary-transparent {
    background-color: var(--color-primary);
    border: 2px solid var(--color-accent);
}

.custom-hero-container h1,
.custom-hero-container h2 {
    font-family: var(--font-display);
}
